<form (submit)="completeTask(task)" #taskForm="ngForm" class="form-inline" *ngIf="task.uuid">
    <button [class.btn-success]="task.complete==='true'" [class.btn-default]="task.complete==='false'" name="complete" class="btn btn-xs" type="submit">
        <span [class.glyphicon-ok]="task.complete==='true'" [class.glyphicon-stop]="task.complete==='false'" class="glyphicon"></span>
    </button>
    <span [innerHTML]="task.title"></span>
    <button type="button" class="btn btn-xs btn-danger pull-right" (click)="deleteTask(task)"><span class="glyphicon glyphicon-remove-sign"></span></button>
</form>
