<div class="container">
  <div class="row" *ngIf="loggedin()===false">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline">
              <button type="button" class="btn" [class.btn-success]="state==='registered'" 
                [class.btn-default]="state==='new'" (click)="toggleState()">
                <span>Sign In</span>
              </button>
<!--
              <button type="button" class="btn" [class.btn-success]="state==='new'" 
                [class.btn-default]="state==='registered'" (click)="toggleState()">
                <span>Sign Up</span>
              </button>
-->
            </form>    
        </div>
        <div class="panel-body">
            <div class="well well-lg">
              <form (submit)="login()" class="form-inline" *ngIf="state==='registered'">
                <div class="form-group">
                  <input [(ngModel)]="user.email" type="email" name="email" class="form-control" placeholder="Email">
                  <input [(ngModel)]="user.password" type="password" name="password" class="form-control" placeholder="Password">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </form>
<!--
              <form (submit)="register()" class="form-inline" *ngIf="state==='new'">
                <div class="form-group">
                  <input [(ngModel)]="user.email" type="email" name="email" class="form-control" placeholder="Email">
                  <input [(ngModel)]="user.password" type="password" name="password" class="form-control" placeholder="Password">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </form>
-->
              <span>{{errorMsg}}</span>
            </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="loggedin()===true">
    <div class="col-md-12">
      <p>Welcome {{user.email}}</p> 
      <button type="button" (click)="logout()" class="btn btn-xs btn-danger pull-right">
        <span>Logout</span>
      </button>
    </div>
  </div>
</div>
