<div class="row">
  <div class="col-lg-12">
    <p>Goals</p>
    <div class="list-group">
      <div class="list-group-item" *ngFor="let goal of goals" [class.list-group-item-warning]="goal.changed===true">
        <goal-item [goal]="goal"></goal-item>
      </div>
      <div class="list-group-item" *ngIf="loading">
        <span class="glyphicon glyphicon-cog spinner"></span> Loading...
      </div>
      <div class="list-group-item">
        <form (submit)="addGoal()" class="form-inline">
        <div class="form-group">
          <button class="btn btn-xs btn-default" type="button">
              <span class="glyphicon glyphicon-plus"></span>
          </button>
          <input [(ngModel)]="goal.title" name="title" class="form-control" placeholder="Enter Goal Title">
          <button type="submit" class="btn btn-primary">Add</button>
          <button *ngIf="goals.length>0" type="button" class="btn btn-secondary" (click)="refreshGoals()"><span class="glyphicon glyphicon-refresh"></span></button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
