<div class="row">
  <div class="col-xs-12" *ngIf="goal">
    <ol class="breadcrumb">
      <button type="button" class="btn btn-xs btn-default pull-right" (click)="edit()" *ngIf="!showForm">Edit Goal</button>
      <button *ngIf="goal.template_id" type="button" class="btn btn-xs btn-default pull-right" (click)="navigateToTemplate()">Template: {{goal.template_id}}</button>
      <li><a href="#" (click)="navigateToTeams()">Teams</a></li>
      <li><a href="#" (click)="navigateToTeam()">{{goal.team.title}}</a></li>
      <li class="active">Goal: {{goal.id}}</li>
      <li *ngIf="goal.changed"><span class="label label-info">Saving...</span></li>
    </ol>
    <div *ngIf="!showForm">
        <!--<button type="button" class="btn btn-xs btn-default pull-right" (click)="saveTemplate()">Save as Template</button>-->
        <h2>
            <button class="btn" type="button" (click)="accomplish()"
                [class.btn-default]="!goal.accomplished"
                [class.btn-success]="goal.accomplished">
                <span class="glyphicon"
                    [class.glyphicon-ok]="goal.accomplished"
                    [class.glyphicon-unchecked]="!goal.accomplished"></span>
            </button>
            <span [innerHtml]="goal.title"></span>
        </h2>
        <div *ngIf="fullDescription" class="well" [innerHtml]="fullDescription"></div>
    </div>
    <div *ngIf="showForm">
        <form class="form" (submit)="persistGoal()">
            <button type="button" class="btn btn-xs btn-danger pull-right" (click)="deleteGoal(goal)">Delete Goal</button>
            <h4>Goal Edit</h4>
            <label for="title">Goal Title</label>
            <input [(ngModel)]="goal.title" name="title" type="text" class="form-control">
            <label for="title">Description</label>
            <textarea [(ngModel)]="goal.description" name="description" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary btn-xs">Save</button>
            <button type="button" class="btn btn-default btn-xs" (click)="cancel()">Cancel</button>
        </form>
    </div>
  </div>
</div>
