<div *ngIf="commitment">
    <div style="display:inline-block" class="dropdown" [class.open]="showMenu">
        <button id="taskActionMenu_{{commitment.task.id}}" (click)="toggleMenu()"
            [class.btn-success]="commitment.task.work_status=='completed'"
            [class.btn-primary]="commitment.task.work_status=='started'"
            [class.btn-danger]="commitment.task.work_status=='blocked'"
            [class.btn-warning]="commitment.task.work_status=='paused'"
            [class.btn-default]="commitment.task.work_status!='completed'"
            name="complete" class="btn btn-xs dropdown-toggle"
            data-toggle="dropdown" type="button">
            <span
                [class.glyphicon-minus]="commitment.task.work_status=='notstarted' && !commitment.task.commitment_promised_start"
                [class.glyphicon-calendar]="commitment.task.work_status=='notstarted' && commitment.task.commitment_promised_start"
                [class.glyphicon-cog.spinner]="commitment.task.work_status=='started'"
                [class.spinner]="commitment.task.work_status=='started'"
                [class.glyphicon-pause]="commitment.task.work_status=='paused'"
                [class.glyphicon-warning-sign]="commitment.task.work_status=='blocked'"
                [class.glyphicon-ok]="commitment.task.work_status=='completed'"
                class="glyphicon"></span>
                <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-haspopup="true" >
            <li class="dropdown-header">Set Work Status</li>
            <li>
                <button type="button" (click)="setTaskStatus('started')" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-cog"></span> Start</button>
            </li>
            <li>
                <button type="button" (click)="setTaskStatus('completed')" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span> Complete</button>
            </li>
            <li>
                <button type="button" (click)="setTaskStatus('paused')" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pause"></span> Pause</button>
            </li>
            <li>
                <button type="button" (click)="setTaskStatus('blocked')" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-warning-sign"></span> Blocked</button>
            </li>
        </ul>
    </div>

    <strong>{{commitment.task.title}}</strong>
    <button *ngIf="showDelete" type="button" class="btn btn-xs btn-danger pull-right" (click)="deleteCommitment()"><span class="glyphicon glyphicon-remove-sign"></span></button>
    <div>
        <button class="btn btn-link btn-xs" (click)="navigateToTeam()">{{commitment.team.title}}</button>
        <span class="small">/</span>
        <button class="btn btn-link btn-xs" (click)="navigateToGoal()">{{commitment.goal.title}}</button>
    </div>
    <div>
        <button type="button" class="btn btn-default btn-xs" (click)="editCommitment()">{{commitment.promised_start | date:'short'}}</button> for
        <button type="button" class="btn btn-default btn-xs" (click)="editCommitment()">{{commitment.promised_minutes}} mins</button>
    </div>

    <form *ngIf="showForm" class="form" (submit)="submit()">
        <div class="form-group well">
            <h3>Edit Commitment</h3>
            <label>When you promise to start?</label>
            <div *ngIf="!showCustom">
                <button type="button" class="btn btn-default" [class.btn-primary]="time.value===commitment.promised_start" *ngFor="let time of starts" (click)="setPromisedStart(time.value)">{{time.label}}</button>
                <button type="button" class="btn btn-default" (click)="setCustomStart()">Choose Date &amp; Time</button>
            </div>
            <div class="form-group" *ngIf="showCustom">
                <label>Start Date</label>
                <select [ngModel]="promisedStartDate" (ngModelChange)="setCustomDate($event)" name="promised_start_date" type="text" class="form-control">
                    <option value="">Select Start Date</option>
                    <option *ngFor="let time of startdates" value="{{time.value}}">{{time.label}}</option>
                </select>
                <label>Start Time</label>
                <select [ngModel]="promisedStartTime" (ngModelChange)="setCustomTime($event)" name="promised_start_time" type="text" class="form-control">
                    <option value="">Select Start Time</option>
                    <option *ngFor="let time of starttimes" value="{{time.value}}">{{time.label}}</option>
                </select>
            </div>
            <label>For how long are you going to work?</label>
            <select [(ngModel)]="commitment.promised_minutes" name="commitment.promised_minutes" type="text" class="form-control" placeholder="Promised Minutes">
            <option value="">Select Promised Time</option>
            <option *ngFor="let minute of minutes" value="{{minute.value}}">{{minute.label}}</option>
            </select>
            <button type="submit" class="btn btn-success btn-xs">Save</button>
            <button type="button" class="btn btn-default btn-xs" (click)="cancel()">Cancel</button>
        </div>
    </form>

</div>