<process-worker></process-worker>
<user-worker></user-worker>
<team-worker></team-worker>
<goal-worker></goal-worker>
<task-worker></task-worker>
<invite-worker></invite-worker>
<route-worker></route-worker>
<team-member-worker></team-member-worker>
<commitment-worker></commitment-worker>
<goal-template-worker></goal-template-worker>
<task-template-worker></task-template-worker>
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Processing</h4>
      </div>
      <div class="modal-body">
        <p>Please Wait, while we finalize some stuff.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->