<p>
  Create a New Goal
</p>
<form (submit)="addGoal()" class="form-inline">
<div class="form-group">
  <input [(ngModel)]="newAccomplished" name="newAccomplished" type="checkbox" class="form-control">
  <input [(ngModel)]="newGoal" name="newGoal" class="form-control" placeholder="End Goal">
  <button type="submit" class="btn btn-primary">Add</button>
</div>
</form>

<ul>
  <li *ngFor="let goal of goals">{{goal.goal}} [{{goal.accomplished}}] <button type="button" class="btn btn-small" (click)="deleteGoal(goal.guid)"> X </button></li>
</ul>
<button type="button" class="btn btn-secondary" (click)="getGoals()">Fetch Goals</button>