<div class="jumbotron">
  <div class="text-center">
  <img src="/assets/apple-icon-180x180.png" />
  <h1>Formigio</h1>
  <p class="lead">Commitment based Goals and Tasks.</p>
  </div>
</div>
<div>
  <h2>Features</h2>
  <div class="panel panel-info">
    <div class="panel-heading">Login / Sign Up</div>
    <div class="panel-body">
      <ul>
        <li>Google Account Login</li>
        <li>Email/Password Login</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Teams</div>
    <div class="panel-body">
      <ul>
        <li>Add Teams</li>
        <li>Invite people to Teams</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Goals</div>
    <div class="panel-body">
      <ul>
        <li>Add Goals to Teams</li>
        <li>Edit Goal Description</li>
        <li>Mark Goal as Accomplished</li>
        <li>Filter Accomplished Team Goals</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Tasks</div>
    <div class="panel-body">
      <ul>
        <li>Add Tasks for Goals</li>
        <li>Set the Task Work Status (Started, Paused, Blocked, Complete)</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">Commitments</div>
    <div class="panel-body">
      <ul>
        <li>Commit to Tasks choosing when and for how long you will work on it</li>
        <li>Navigate to Commitments for a Specific Date</li>
        <li>Manage Commitments</li>
        <li>Filter Commitments by Future Date</li>
        <li>Filter Commitments by Task Completed</li>
      </ul>
    </div>
  </div>
</div>
