<div class="row">
  <div class="col-xs-12">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="btn btn-default navbar-toggle collapsed" (click)="toggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a [routerLink]="['/']" class="navbar-brand"><img alt="Formigio" src="/assets/favicon-32x32.png" /></a>
        </div>

        <div class="navbar-right">
          <ul class="nav navbar-nav" >
            <li><notification-nav></notification-nav></li>
          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div [class.visable-xs]="open===true"
          [class.hidden-xs]="open===false"
          [class.collapse]="open===false"
          [class.navbar-collapse]="open===false" class="navbar-left">
          <ul class="nav navbar-nav" >
            <li><a [routerLink]="['/teams']" (click)="close()" *ngIf="user.email">Teams</a></li>
            <li><a [routerLink]="['/tasks']" (click)="close()" *ngIf="user.email">Tasks</a></li>
            <li><a [routerLink]="['/commitments']" (click)="close()" *ngIf="user.email">Commitments</a></li>
            <li><a [routerLink]="['/login']" (click)="close()" *ngIf="!user.email">Login</a></li>
            <li><a (click)="logout()" *ngIf="user.email" class="clickable">Logout ({{user.worker.username}})</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  </div>
</div>
