<div class="row">
  <div class="col-md-12">
    <nav id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Commitr</a></li>
        <li><a [routerLink]="['/goals']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Goals</a></li>
        <li><a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">About</a></li>
        <li><a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav>
  </div>
</div>
