<div>
    <div *ngIf="state==='view'">
        <button class="btn btn-xs btn-default pull-right" type="button" (click)="navigateTo(goalTemplate)">
            <span class="glyphicon glyphicon-list"></span>
        </button>
        <button class="btn btn-xs btn-default pull-right" type="button" (click)="edit()">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
        <strong (click)="navigateTo(goalTemplate)" class="clickable">{{goalTemplate.title}}</strong>
        <small *ngIf="!showFullDocumentation" class="clickable" (click)="toggleFullDocumentation()" [innerHtml]="fullDocumentation"></small>
        <div class="well well-sm" *ngIf="showFullDocumentation">
            <button type="button" class="btn btn-xs btn-link pull-right" (click)="toggleFullDocumentation()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <span [innerHtml]="fullDocumentation"></span>
        </div>
    </div>
    <form class="form" (submit)="persistGoalTemplate()" *ngIf="state==='edit'">
        <button type="button" class="btn btn-xs btn-danger pull-right" (click)="deleteGoalTemplate(goal)">Delete Template</button>
        <h4>Template Edit</h4>
        <label for="title">Template Title</label>
        <input [(ngModel)]="goalTemplate.title" name="title" type="text" class="form-control">
        <label for="title">Docs</label>
        <textarea [(ngModel)]="goalTemplate.documentation" name="documentation" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary btn-xs">Save</button>
        <button type="button" class="btn btn-default btn-xs" (click)="cancel()">Cancel</button>
    </form>
</div>