<div class="row" *ngIf="team.uuid">
    <div class="col-xs-12">
        <div style="display:inline-block;" *ngIf="state==='view'">
            <span [innerHTML]="team.title" (click)="navigateTo(team)"></span>
            <button type="button" (click)="makeEditable()" class="btn btn-xs btn-link"><span class="glyphicon glyphicon-edit"></span></button>
        </div>
        <form style="display:inline-block;min-width:50%" class="form-inline" (submit)="persistTeam()" *ngIf="state==='edit'">
            <input [(ngModel)]="team.title" name="team" type="text" style="min-width:75%">
            <button type="submit" class="btn btn-success btn-xs">Save</button>
        </form>
    </div>
</div>