/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
}
#flash_message {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3px;
    max-width: 50%;
    font-size: 75%;
}
